<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Backoffice.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
        <rewrite>
    	  <rules>
           <rule name="lineoa" stopProcessing="true">
            <match url="^lineoa/?(.*)" />
            <action type="Rewrite" url="http://localhost:82/{R:1}" />
           </rule>
          </rules>
        </rewrite>
       
    </system.webServer>
</configuration>
<!--ProjectGuid: 0D7D284A-2CF8-4FDB-9CB8-FC8E8B45EAE6-->