@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --header-height: 4rem;
    --nav-width: 200px; /* Sidebar full width */
    --first-color: #224abe;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
body {
    overflow-y: scroll;
}
a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

body {
    font-family: 'Outfit',serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: hidden;
    background-color: #efefefff;
    overflow-y: auto;
}

#sidebar {
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    background-color: #224abe;
    display: flex;
    flex-direction: column;
    
}

    #sidebar:not(.expand) .sidebar-logo span,
    #sidebar:not(.expand) a.sidebar-link span {
        display: none;
    }

    #sidebar.expand {
        width: calc(20% + 20px);
        min-width: 260px;
    }
@media (max-width: 768px) {
    #sidebar.expand {
        width: calc(80% + 20px);
        min-width: 260px; /* ถ้ายังอยากบังคับ 260px อยู่ก็ใส่ไว้ */
    }
}

.toggle-btn {
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323c55;
}

    .toggle-btn i {
        color: #fff;
    }

#sidebar.exoand .sidebar-logo span,
#sidebar.exoand a.sidebar-link span {
    animation: fadein .25s ease;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-logo  {
    justify-content: center;
    align-items: center;
    display: flex;
}
.sidebar-logo-img{
    width:50%;
   
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    white-space: nowrap;
    font-weight: 700;
    border-left: 3px solid transparent;
}

.sidebar-nav {
    padding: 0.7rem 0;
    flex: 11 auto;
    z-index: 10;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .7rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 90px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15em;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    /*width: 100%;*/
    opacity: 1;
    overflow-y :auto;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transform: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-dropdown .sidebar-link {
    position: relative;
    padding-left: 3rem;
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link::before {
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background-color: #ffffff80;
    position: absolute;
    left: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover {
    background-color: transparent;
    border-left: 3px solid transparent;
    padding-left: 3.8rem;
    color: #7277f2;
}


.header {
    position: sticky;
    width: 100%;
    height: var(--header-height);
    background-color: var(--first-color);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: .5s;
}


.header_img {
    color: white;
    width: 10%;
    min-width: 60px;
    height: 35px;
    display: grid;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.body-content {
    margin: 3% 1% 2% 3%;
    flex: 1;
    overflow-y: auto;
}
.page-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header-content-info{
background-color:#fff;
}
.body-content-section {
    background-color: #fff;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
}
.content-header {
    padding-right:20px;
    display: flex;
    justify-content: space-between; /* หัวข้อซ้าย ปุ่มขวา */
    align-items: center;
}

.colorTable th {
    background-color: #8aacff !important;
    color: #ffffff !important;
}
